#background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}


/*登出按钮*/
.btn {
    border: none;
    height: 5em;
    width: auto; /* 自动根据内容调整宽度 */
    min-width: 100px; /* 设置一个最小宽度，根据需要调整 */
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.btn-link {
    position: fixed; /* 或使用 absolute，视您的需要而定 */
    top: 10px; /* 距离顶部的距离 */
    right: 10px; /* 距离右侧的距离 */
    z-index: 1000; /* 确保按钮显示在其他元素之上 */
}

.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: 16px;
    display: inline-block; /* 确保文本是内联块级元素 */
    margin: 0; /* 移除可能的外边距 */
    text-decoration: none; /* 禁用下划线效果 */
}

.btn:hover {
    background: linear-gradient(0deg, #A47CF3, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}

.btn:hover .text {
    color: white;
}

.btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}



/*五个按钮*/
body {
  margin: 0; /* 去除默认的 body 边距 */
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: transparent; /* 设置背景透明 */
  justify-content: center;
  border-radius: 5px;
  transform: scale(2); /* 放大倍数，根据需要调整 */
  transform-origin: center; /* 从中间开始放大 */
  position: fixed;
  top: 50%; /* 将元素垂直居中 */
  left: 50%; /* 将元素水平居中 */
  transform: translate(-50%, -50%); /* 根据元素自身宽高进行偏移 */
}

.value {
  background-color: transparent;
  border: none;
  padding: 20px; /* 增大内边距 */
  color: black;
  display: flex;
  position: relative;
  gap: 10px; /* 增大间隔 */
  cursor: pointer;
  border-radius: 8px; /* 增大圆角 */
  font-size: 24px;
}

.value:not(:active):hover,
.value:focus {
  background-color:white;
}

.value:focus,
.value:active {
  background-color: white; /* 将选中状态下的背景颜色改为白色 */

  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 10px; /* 调整 ::before 位置 */
  left: -20px; /* 调整 ::before 位置 */
  width: 5px;
  height: 160%; /* 调整 ::before 高度 */
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 30px; /* 放大图标，根据需要调整 */
}










