 body {
            margin: 0;
            padding: 0;
            border: 0;
        }

        #backgroung {
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
            height: 600px;
            background-attachment: fixed;
            background-size: cover;
            background-image: url("../static/2.jpg");
        }

        #dl {
            width: 900px;
            height: 600px;
            background-image: linear-gradient(120deg, rgb(107, 182, 204) 0%, rgb(206, 226, 223) 100%);
            position: absolute;
            top: 60px;
            right: 300px;
            margin: auto;
            border-radius: 10%;
            box-shadow: 10px 10px 1px rgba(97, 91, 100, 0.5);
            overflow: auto;
        }

        .text {
            color: white;
            display: flex;
            justify-content: center;
            font-style: inherit;
        }

        .input {
            height: 10%;
            width: 60%;
        }

        .but {
            display: flex;
            top: 10px;
            right: 10px;
        }

        .but-add {
             position: fixed;
             bottom: 100%; /* 距离底部的距离，根据需要调整值 */
             right: 10%;   /* 距离左侧的距离，根据需要调整值 */
             transform: scale(1.5);  /* 将按钮水平居中并放大1.5倍 */
        }
        .but-add .text {
            font-size: 18px; /* 根据需要调整字体大小 */
             color: white;
        }

        .but-delete {
             position: fixed;
             bottom: 80%; /* 距离底部的距离，根据需要调整值 */
             right: 10%;    /* 使左侧距离页面左侧的一半 */
             transform: translateX(-50%) scale(1.5);  /* 将按钮水平居中并放大1.5倍 */
        }
        .but-delete .text {
            font-size: 18px; /* 根据需要调整字体大小 */
            color: white;
        }

        .but-modify {
             position: fixed;
             bottom: 60%; /* 距离底部的距离，根据需要调整值 */
             right: 10%;   /* 距离左侧的距离，根据需要调整值 */
             transform: scale(1.5);
        }
        .but-modify .text {
            font-size: 18px; /* 根据需要调整字体大小 */
            color: white;
        }
        .input-box {
            width: 900px;
            white-space: nowrap; /* 防止换行 */
            text-align: center; /* 让表格内容在水平方向上居中 */
        }

        table {
            width: 100%;
            white-space: nowrap; /* 防止换行 */
            border-collapse: collapse;
            margin-top: 20px; /* 调整表格与上方内容的距离 */
        }

        th, td {
            border: 1px solid white;
            padding: 10px;
            color: white;
            text-align: center; /* 居中对齐 */
        }

        th {
            background-color: rgba(0, 0, 0, 0.5);
        }
