<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户手册</title>
    <link rel="stylesheet" href="../static/help.css">
</head>
<body>
<div class="but1">
    <a href="/header" class="btn-link">
        <button class="btn">
            <!-- 按钮文本 -->
            <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;返&nbsp;回&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </button>
    </a>
</div>
<div class="card">
    <div class="tools">
        <div class="circle">
            <span class="red box"></span>
        </div>
        <div class="circle">
            <span class="yellow box"></span>
        </div>
        <div class="circle">
            <span class="green box"></span>
        </div>
    </div>
    <div class="title-container">
        <h1>用户手册</h1>
        <h2>规则</h2>
    </div>
    <p>起床：&nbsp;开启所有的电灯，亮度变为50。</p>
    <br>
    <p>出门：&nbsp;关闭所有开启的电器，打开窗帘，透光度为50。</p>
    <br>
    <p>回家：&nbsp;打开所有电灯，亮度变为70；开启的窗帘透光度变为20。</p>
    <br>
    <p>深夜：&nbsp;关闭所有开启的电视、窗帘和空调；将所有开着的电灯</p>
    <span class="additional-text">颜色调成黄色，亮度变为20。</span>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>未尽事宜咨询管理员，QQ:1234567890</p>
</div>
</body>
</html>
