<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家居信息</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/list.css">

</head>
<body>
<form method="post">
    <div id="backgroung">
        <div id="dl">
            <div class="text"><h1>家居-电视信息</h1></div>
            <div class="input-box">
                <table>
                    <thead>
                    <tr>
                        <th>电视名称</th>
                        <th>房间名</th>
                        <th>电视开关状态</th>
                        <th>设定的开启时间</th>
                        <th>设定的关闭时间</th>
                        <th>设定的声音</th>
                        <th>设定的亮度</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for value in data_all %}
                    <tr>
                        <td>{{ value[1] }}</td>
                        <td>{{ value[2] }}</td>
                        <td>{{ value[3] }}</td>
                        <td>{{ value[4] }}</td>
                        <td>{{ value[5] }}</td>
                        <td>{{ value[6] }}</td>
                        <td>{{ value[7] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</form>
<div class="but">
    <a href="/header" class="btn-link">
        <button class="btn">
            <!-- 按钮文本 -->
            <span class="text">返回</span>
        </button>
    </a>
</div>
<div class="but-add">
    <a href="/add_T" class="btn-link">
        <button class="btn">
            <!-- 按钮文本 -->
            <span class="text">添加电视</span>
        </button>
    </a>
</div>
<div class="but-delete">
    <a href="/delete_T" class="btn-link">
        <button class="btn">
            <!-- 按钮文本 -->
            <span class="text">删除电视</span>
        </button>
    </a>
</div>
<div class="but-modify  ">
    <a href="/modify_T" class="btn-link">
        <button class="btn">
            <!-- 按钮文本 -->
            <span class="text">自定义</span>
        </button>
    </a>
</div>
</body>
</html>

