<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="/signup" method="post" class="form" id="form1">
            <h2 class="form__title">注册</h2>
            <input type="text" placeholder="用户名" name="user" class="input"/>
            <input type="password" placeholder="密码" name="pwd" class="input"/>
             <input type="password" placeholder="再次输入密码" class="input"/>
            <div class="text">
                <input type="checkbox" id="showPassword2">
                <label for="showPassword">显示密码</label>
            </div>
            <button class="btn">Sign Up</button>
        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="/signin" method="post" class="form" id="form2">
            <h2 class="form__title">登录</h2>
             <input type="text" placeholder="用户名" name="user" class="input"/>
            <input type="password" placeholder="密码" name="pwd" class="input"/>
            <div class="text">
                <input type="checkbox" id="showPassword">
                <label for="showPassword">显示密码</label>
            </div>
            <a href="#" class="link">忘记密码？</a>
            <div class="button"><a href="success.html">
                <button type="submit" class="btn" >提交</button>
            </a></div>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const fistForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });

</script>
<br>
{{msg}}
</body>

</html>